{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block style %}{% endblock %}
{% block scripts %}{% endblock %}

{% block title %}Ajouter un jour de télétravail fixe{% endblock %}

{% block content %}
<div class="mt-4">
  <a class="badge badge-primary" href="{% url 'remoteshifts:index' %}">&larr; Retour</a>
</div>
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <button type="submit" class="btn btn-primary"><i class="far fa-save"></i> Sauvegarder</button>
</form>

{% endblock %}
