{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block style %}{% endblock %}
{% block scripts %}{% endblock %}

{% block title %}Supprimer un jour de télétravail flottant{% endblock %}

{% block content %}
<div class="my-4">
  <a class="badge badge-primary" href="{% url 'remoteshifts:index' %}">&larr; Retour</a>
</div>
<form method="post">
  {% csrf_token %}
  <p>Êtes vous sûr de vouloir supprimer {{ object.day|lower }} de vos jours de télétravail flottants ?</p>
  <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i> Supprimer</button>
</form>

{% endblock %}
